@import "variable";

body {
  background-color: $primary-background-color !important;
  .home_page {
    background-image: image-url("finance.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav-item {
    font-size: 20px;
  }
  .navbar-brand {
    font-size: 30px;
  }
}

.accounts-table-wrapper {
  border: 1px solid $color-light-grey;
  table {
    margin: 0;
    th {
      background-color: $table-head-bg;
    }
  }
}

.submit-btn {
  margin-right: 20px;
}
